<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contato.name %>
</p>

<p>
  <strong>Andress:</strong>
  <%= @contato.andress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contato.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contato.description %>
</p>

<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
